/* ======================= setup =======================*/

/* ======================= Base =======================*/


body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
}
h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 1rem
}

/* ======================= header =======================*/
.header {
    justify-content: space-between;
    align-items: center;
    padding:   2rem 0;
}

.nav-links{
    justify-content:space-between ;
}
.nav-item, .nav-item:visited{
    color: #000;
    font-size: 2.027rem;
    font-weight: 700;
}

/* ======================= hero =======================*/
.hero div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "img1 img1 img1"
        "img2 img3 img4";
}

.photo {
    width: 100%;
    border-radius: 10px;
}
.hero .photo:nth-child(1) {
    grid-area: img1;
}

.hero .photo:nth-child(2) {
    grid-area: img2;
}

.hero .photo:nth-child(3) {
    grid-area: img3;
}

.hero .photo:nth-child(4) {
    grid-area: img4;
}
/* ======================= intro =======================*/

/* =======================  dough ===============*/

.dough {
    background-color: #f8fafc;
}

/* ======================= social =======================*/
.social {
    background-color: #000;
    color: #fff;
}
/* ======================= flavour =======================*/

/* ======================= footer =======================*/








