/* ======================= setup =======================*/

/* ======================= Base =======================*/


body {
    font-family: Poppins, sans-serif;
    background-color: #fff;
}
h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.266rem;
}

.wrapper {
    max-width: 1200px;
}

.flex {
    display: flex;
    gap: 1rem
}

/* ======================= header =======================*/


/* ======================= hero =======================*/
.hero div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "img1 img1 img1"
        "img2 img3 img4";
}

.hero .photo:nth-child(1) {
    grid-area: img1;
}

.hero .photo:nth-child(2) {
    grid-area: img2;
}

.hero .photo:nth-child(3) {
    grid-area: img3;
}

.hero .photo:nth-child(4) {
    grid-area: img4;
}
/* ======================= intro =======================*/

/* =======================  dough ===============*/

.dough {
    background-color: #f8fafc;
}

/* ======================= social =======================*/
.social {
    background-color: #000;
    color: #fff;
}
/* ======================= flavour =======================*/

/* ======================= footer =======================*/








